<li *ngIf="cartItems.length > 0" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    Cart
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

    <li><a class="dropdown-item" *ngFor="let cartItem of cartItems">{{cartItem.product.productName}} -
        <span class="badge bg-warning">{{cartItem.quantity}}</span>  <span class="badge bg-danger" (click)="removeFromCart(cartItem.product)"> x </span></a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item">Go to Cart</a></li>
  </ul>
</li>