<!--Angular'ın devreye girmesi için iç içe süslü parantez yazılır ortasına alan adı girilir. {{alan adı}}.-->
<!-- Welcome to {{title}}
Hello {{user}}
{{product.productName}}
<ul >
  <li *ngFor="let product of products">{{product.productName}}</li> -->
<!-- *ngFor => built-in directive :  ilgili HTML elementini manipule etmemize yarıyor. 
    ngFor şuan bulunduğun alanı tekrarla demek. Açılış ve kapanış parantezleri li taglerini kapsar. yani içerisine yazıldığı html tagini kapsar.
    Bu componentteki array durumundaki products in içerisindeki her bir product için döner. 
    ngFor = forEach
    var = let
</ul> -->

<!--! Ana sayfanın görünüüşünü buradan ayarladık-->
<div class="container">

  <!--Component tree-->
  <app-navi></app-navi>

  <div class="row">

    <div class="col-md-3">
      <app-category></app-category>
    </div>

    <div class="col-md-9">
      <app-product></app-product>
    </div>
    <!-- <app-todo></app-todo> -->
  </div>

  <router-outlet></router-outlet>
</div>