<!--! Root sayfasının içereceği compoonentler buradan ayarlanır-->

 <!--Index.html deki body tagları arasında bulunabilecek olan tüm componentları içerisinde tutacak olan bir container div.-->
<div class="container">
  <!--Component tree-->

  <!--NavBar-->
  <app-navi></app-navi>

  <div class="row">
    <div class="col-md-3">
      <!--CategoryComponent-->
      <app-category></app-category>
    </div>

    <div class="col-md-9">
      <!--ProductComponent-->
      <app-product></app-product>
    </div>
  </div>

  <!--! router-outlet : urldeki adrese bakar, oradaki route neyse gidip app-routing.module.ts içerisinde tanımlı olan Routes arrayını gezer. Path'i route denk gelen component'in htmlini bulunduğu yere koyar.-->
  <router-outlet></router-outlet>
</div>